.main{
    display: flex;
    flex-direction: column; /* Align children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; 
}
.container{
    width: 80vw;
    justify-content: center;
   margin-top: 17vh;
    box-sizing: border-box;
    padding: 2rem 1rem;
    background-color: white;
    box-shadow: 0px 4px 23px 2px rgba(247, 28, 28, 0.1);
    text-align: center;
}

.containerTop{
    text-align: left;
    margin-bottom: 2rem;
}

.containerBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputTop{
    width: 100%;
}

.inputSelect{
    width: 12rem;
}
img{
    width: 4vw;
    height: auto;
}
.list{
    width: 80vw;
    margin:2vh auto 12px auto;
    background-color: white;
    box-shadow: 0px 4px 23px 2px rgba(236, 49, 49, 0.1);
    padding: 2rem 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listLeft{
    display: flex;
}

.infoLeft{
    margin-left: 1rem;
}

.position{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1.1rem;
}

.extraInfo{
    display: flex;
    gap: 10px;
    margin-bottom: 0.5rem;
}

.greyText{
    margin-left: .5vw;
    color: #9C9C9C;
}

.redText{
    color: #ED5353;
}

.skill{
    background-color: #FFEEEE;
    color: black;
    padding: 0.6rem;
    border-radius: 6px;
    margin-right: 1rem;
}

.btnGroup{
    display: flex;
    margin-top: 1rem;
    justify-content: space-evenly;
}

.view{
    background: #ED5353;
    border-radius: 4px;
    /* padding: 1em 1em; */
    border: none;
    color: white;
    font-weight: 400;
    height: 4vh;
    width: 7vw;
}
.edit{
    background-color: transparent;
    border: 1px solid #ED5353;
    border-radius: 4px;
    /* padding: 1em 1em; */
    color: #ED5353;
    font-weight: 300;
    height: 4vh;
    margin-right: .7vw;
    width: 7vw;
  
}
/* .bottom{
  
  margin-top: 1vh;
   
} */


.chip{
    box-sizing: border-box;
    background: #FFEEEE;
    color: black;
    padding: 0.6rem;
}

.cross{
    background-color: #ED5353;
    font-weight: 600;
    margin-left: 5px;
    padding: 2px;
    color: white;
}